.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 1rem;
  min-height: 80px;
  background-color: #22476b;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .5);
  opacity: 0.6;
}

.post p {
  margin: 0;
}

.post:hover {
  cursor: pointer;
  opacity: 0.8;
}

.post span {
  color: goldenrod;
  font-weight: 600;
}

.posts {
  display: flex;
  gap: 1rem;
}