#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
  background: #e1e1e1;
  border-radius: 1rem;
}

main h1 {
  color: #22476b;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 42px;
}