.main {
  padding: 2rem 10dvw;
}

.main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.main ul li a, .main div a {
  color: #e1e1e1;
}